.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    background-color: #010409;;
    color: white;
  }
  
  
  .nav-right ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .nav-right ul li {
    margin: 0 10px;
    cursor: pointer;
  }
 

  .the-star-repo{
    /* position: absolute; */
    /* right: 1rem; */
    background-color: #262c36;
    color: white;
    width: 4.5rem;
    border-radius: 5px;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #b6bcc7;
    font-size: 12px;
    font-weight: 500;
    box-sizing: border-box;
}

.the-star-repo:hover{
  background-color: #2a313c;
}



.the-star{
  color: #b6bcc7 ;
  margin-left: 0.5rem;
  font-size: 14px;
  margin-right: 0.4rem;
  align-content: baseline;
}

.the-starred{
  color: #f7c843;
}

.starred{
  width: 5.2rem !important;
}

.repo-visibility{
  background-color: transparent;
  border: 1px solid #b7bdc8;
  border-radius: 15px;
  color: #b7bdc8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  padding-left: 7px;
  padding-right: 8px;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 3px;
}

.repo-visibility:hover{
  background-color: #2f3742;
}
  

.the-user-link{
padding-left: 5px;
padding-right: 5px;
margin-left: 0;
margin-right: 0;
border-radius: 5px;
}
.the-user-link:hover{

    background-color: #2f3742;
  
}

.the-delete-btn{
  /* position: absolute; */
  /* right: 1rem; */
  background-color: #262c36;
  color: #ffb1af;
  width: 4.5rem;
  border-radius: 5px;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b6bcc7;
  font-size: 13px;
  font-weight: 500;
  box-sizing: border-box;
}

.the-delete-btn:hover{
  color: white;
  background-color: #ad0116;
  border: 1px solid #ffb1af;
}

@media(max-width: 510px){
  .link-left{
    padding-left: 1px;
    padding-right: 1px;
    margin-right: -0.5rem !important;
    }
    .link-right{
      padding-left: 1px;
      padding-right: 1px;
      margin-left: -0.5rem !important;
      }
  .repo-nav-star-width{
    width: 2rem !important;
    height: 1.8rem;
    display: flex;
    align-items: center;

  }
  .d-none-repo-nav{
    display: block !important;
  }
  .dNone-repo-nav{
    display: none;

  }
  .fa-trash{
    color: #ffb1af;
  }
  .the-delete-btn{
    /* position: absolute; */
    /* right: 1rem; */
    background-color: #262c36;
    color: #ffb1af;
    width: 2rem;
    border-radius: 5px;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b6bcc7;
    font-size: 13px;
    font-weight: 500;
    box-sizing: border-box;
  }
  
  .the-delete-btn:hover{
    color: white;
    background-color: #ad0116;
    border: 1px solid #ffb1af;
  }
  .the-delete-btn:hover i{
    color: white;
  }
  .repo-nav-star-width{
    width: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.13rem;
    padding-top: 0.1rem;

  }
  
}

@media(max-width: 450px){
  .repo-nav-star-width{
    width: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.13rem;
    padding-top: 0.1rem;

  }
  
  
  .dNone-repo-nav{
    display: none;

  }
}

.d-none-repo-nav{
  display: none;
}

.d-none-repo-nav-400{
  display: none;
}

@media(max-width: 400px){
  .the-delete-btn{
    /* position: absolute; */
    /* right: 1rem; */
    background-color: #262c36;
    color: #ffb1af;
    width: 2rem;
    border-radius: 5px;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b6bcc7;
    font-size: 13px;
    font-weight: 500;
    box-sizing: border-box;
    margin-left: -0.8rem;
  }
  .repo-nav-star-width{
    width: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.13rem;
    padding-top: 0.1rem;
margin-left: -1.2rem;
  }
  .d-none-repo-nav-400{
    display: flex;
  }
  .dNone-repo-nav-400{
    display: none;
  }
  .repo-visibility{
    background-color: transparent;
    border: none;
    border-radius: 15px;
    color: #b7bdc8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding-left: 7px;
    padding-right: 8px;
   margin-left: -1rem;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 3px;
  }
  .repo-visibility:hover{
    background-color: transparent;
  
  }
}

@media(max-width: 320px){
  .the-delete-btn{
    /* position: absolute; */
    /* right: 1rem; */
    background-color: #262c36;
    color: #ffb1af;
    width: 2rem;
    border-radius: 5px;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b6bcc7;
    font-size: 13px;
    font-weight: 500;
    box-sizing: border-box;
    margin-left: -1rem;
  }
  .repo-nav-star-width{
    width: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.1rem;
    padding-top: 0.2rem;
margin-left: -1.5rem;
  }
  .d-none-repo-nav-400{
    display: flex;
  }
  .dNone-repo-nav-400{
    display: none;
  }
  .repo-visibility{
    background-color: transparent;
    border: none;
    border-radius: 15px;
    color: #b7bdc8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding-left: 7px;
    padding-right: 8px;
   margin-left: -1.5rem;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 3px;
  }
  .repo-visibility:hover{
    background-color: transparent;
  
  }
}

@media (hover: none) {
  .the-user-link:hover{

    background-color: transparent;
  
}
  .the-star-repo:hover{
    background-color: #262c36;
}

.repo-visibility:hover{
  background-color: transparent;

}

.the-delete-btn:hover{
 
  background-color: #262c36;
  color: #ffb1af;
  border: 1px solid #b6bcc7;

}
.the-delete-btn:hover i{
 
  
  color: #ffb1af;


}
}
@media(max-width: 350px){
  .repo-nav-star-width{
 

    width: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.05rem;
    padding-top: 0.05rem;

  
  }}


