.profile-page-wrapper {
    display: flex;
    color: whitesmoke;
    margin-left: 5rem;
  }
  
  .user-profile-section {
    width: 250px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline !important;
    padding: 40px 10px;
    margin-right: 5rem;
  }

  
  
  .user-repo-section {
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .user-name {
    /* width: 250px; */
    margin: 10px 20px 10px 10px;
    /* margin: 10px auto; */
  }

  .profile-user-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 200;
  }
  
  .profile-image {
    /* margin: 10px auto; */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-size: 100px;
    font-weight: 600;
    color: #000000;
  }
  
  .follow-btn {
    background-color: #262c36;
    width: 250px;
    margin: 10px auto;
    height: 40px;
    border-radius: 10px;
    color: whitesmoke;
    box-sizing: border-box;
    border: 1px solid #828891;
    cursor: pointer;
    /* border: 5px solid red; */
  }

  .follow-btn:hover{
    background-color: #2a313c !important;
  }

  .follow-btn:active{
    /* background-color: red; */
    border: 1px solid #262c36;
    color: #656c76;
    box-sizing: border-box;
    
  }

 

  .follow{
    display: flex;
    flex-direction: row;
    justify-content: center;
     width: 250px;
    height: 30px;
    gap: 10px;
    margin: 10px auto;
  }
  
  .repo-card-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
  }
  
  .repo {
    border: 0.5px solid grey;
    border-radius: 10px;
    width: 400px;
    height: 210px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .repo-name {
    cursor: pointer;
    color: #408ced;
    font-size: 20px;
  }
  
  .description {
    color: grey;
    font-size: 15px;
  }
  
  @media screen and (max-width: 750px) {
    .repo {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 570px) {
    .user-profile-section {
      margin: auto;
    }
  
    .profile-page-wrapper {
      display: block;
    }
  }
  
  #logout:hover {
    border: 1px solid white;
  }

  .hr-line-box{
    /* background-color: yellow; */
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 5px;
    height: 55px;
    width: 45vw;
    display: flex;
    padding: 10px;
    padding-left: 0;
    margin-left: 0;
    padding-top: 7px !important;
    
    /* border-bottom: 5px soild brown; */
  }

  .profile-repo-desc{
    /* font-weight: 400; */
    color: #b7bdc8;
    font-size: 15px;
    margin: 0;
  }

.profile-repo-name-underline{
  padding: 0;
}
.profile-repo-name-underline:hover{
  text-decoration: underline;
  color: #74b9ff;
  cursor: pointer;
}

.the-logout-btn{

 
 
    padding: 10px 15px; /* Padding for the button */
  
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.1s; /* Smooth transition for hover effect */
    transition: border-color 0.3s ease;
    outline: none;
  
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #010409;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px; /* Add padding to create space inside the modal */
  z-index: 9999; /* Ensure it appears on top of other elements */
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid #b7bdc8;
  overflow-y: scroll;
}

.modal-content ul {
  list-style-type: none;
  padding: 0; /* Optional: removes extra space around the list */
  margin: 0;  /* Optional: removes default margin */
}

.modal-content{
  padding: 2px;
}

.modal-content ul li {
  margin-bottom: 10px; /* Adjust the value to control the gap */
  width: 100%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.modal-content ul li:hover {
  background-color: #2f3742;
  border-radius: 5px;
  border: 1px solid #b7bdc8;
  cursor: pointer;
}


  /* Width of the scrollbar */
.modal::-webkit-scrollbar {
 display: none;
    
   /* Width of the vertical scrollbar */
  }

  .follower:hover, .following:hover{
    color: #74b8fe;
    cursor: pointer;
  }

  .following:hover span {
    color: white; /* Change the text color to white on hover */
  }

  .fa-book{
    color: inherit;
    font-size: 15px;
    margin-right: 0.3rem;
  }

  .text-follow-ing-ers{
    color: #b7bdc8;
    font-size: 14px;
  }

  .following:hover .text-follow-ing-ers{
    color: #74b8fe;
  }

  .follower:hover .text-follow-ing-ers{
    color: #74b8fe;
  }

  
  .font-followers{
    color: #b7bdc8;
    font-size: 14px;
  }

  .following:hover .font-followers{
    color: #74b8fe;
  }

  .follower:hover .font-followers{
    color: #74b8fe;
  }

  .the-heat-map{
    margin-top: 5rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .the-heat-map-box{
  
    direction: rtl;
    margin-right: 0rem;
    margin-left: -1rem;
    /* background-color: yellow; */
  
    border: 1px solid white;
    border-radius: 7px;
  }
  .HeatMapProfile{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -1.5rem;
    margin-top: 1rem;
      /* overflow: scroll; */
    }
   
  @media(max-width: 950px){
    .the-heat-map{
      
       
      
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .the-heat-map p{
     
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .the-heat-map-box{
      width: 80%;
      overflow-x: scroll;
      overflow-y: hidden;
      direction: rtl;
      margin-right: 0rem;
      margin-bottom: 2rem;
      /* background-color: yellow; */
    
      border: 1px solid white;
      border-radius: 7px;
    }
    .heat-map-section{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .HeatMapProfile{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -1.5rem;
    margin-top: 1rem;
      /* overflow: scroll; */
    }
    .profile-page-wrapper {
      display: flex;
      flex-direction:column;
     justify-content: center;
     align-items: center;
      /* margin-left: 0rem; */
    }
  }

  @media(max-width: 700px){
    .the-heat-map-box{
      width: 80%;
    
    }
    .the-heat-map{
      margin-left: 1rem;
      /* margin-top: 5rem; */
      margin-bottom: 0;
      padding-bottom: 0;
    }
   
  }

  @media(max-width: 600px){
  
    .the-heat-map-box{
      width: 80%;

    }

  }

   /* Width of the scrollbar */
.the-heat-map-box::-webkit-scrollbar {
  width: 1px; 
  height: 7px;
  /* Width of the vertical scrollbar */
}

/* Track (background) of the scrollbar */
.the-heat-map-box::-webkit-scrollbar-track {
  background:  #b7bdc8; /* Light gray background for the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Handle (the draggable part of the scrollbar) */
.the-heat-map-box::-webkit-scrollbar-thumb {
  background: grey; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the handle */
}

/* Handle on hover */
.the-heat-map-box::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color when hovering over the scrollbar handle */
}

@media(max-width: 570px){
  .user-profile-section {
    /* height: 12px; */
    display: flex;
    width: 250px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
    /* margin-left: 9rem; */
    /* margin-right: 5rem; */
  }
  .the-heat-map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heat-map-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-page-wrapper {
    display: flex;
    flex-direction:column;
    color: whitesmoke;
    
   margin-left: 1rem;

  }
 
}


@media(max-width: 450px){
.profile-image {
  /* margin: 10px auto; */
  width: 250px;
  height: 250px;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  font-size: 100px;
  font-weight: 600;
  color: #000000;
}
.profile-page-wrapper {
  display: flex;
  flex-direction:column;
  color: whitesmoke;
  
 margin-left: 0rem;

}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #010409;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px; /* Add padding to create space inside the modal */
  z-index: 9999; /* Ensure it appears on top of other elements */
  height: 300px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #b7bdc8;
  overflow-y: scroll;
}

.follow-btn {
  background-color: #262c36;
  width: 200px;
  margin: 10px 5px;

  height: 40px;
  border-radius: 10px;
  color: whitesmoke;
  box-sizing: border-box;
  border: 1px solid #828891;
  cursor: pointer;
  /* border: 5px solid red; */
}
}

@media(max-width: 350px){
  .profile-image {
    /* margin: 10px auto; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-size: 100px;
    font-weight: 600;
    color: #000000;
  }
  .the-heat-map{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heat-map-section{
width: 100%;
  }
}





  
