.the-srch-box{
    width: 50vw;
    background-color: #010409;
    display: flex;
    flex-direction: column;
    border: 1px solid #b7bdc8;
    border-radius: 0.5rem;
    margin-bottom: 0.9rem;
    position: relative;
}

.no-users-repo{
    border: none !important;
}

.repo-name-link{
    display: flex;
    flex-direction: row;
}

.the-user{

   background-color: #dcdcdc;
   color: #000000;
   border: 1px solid white;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 2.7rem !important;
   width: 2.7rem !important;
   font-weight: 700;
   flex-shrink: 0;
   margin-left: 0.8rem;
   aspect-ratio: 1/1 !important;
}

.repo-main-info{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 0.7rem;
    /* margin-left: 5rem; */
}

.repo-desc{
    font-weight: 300;
    color: white;
    margin: 0;
}

.repo-name-underline:hover{
    text-decoration: underline;
    cursor: pointer;
}

.filter-options{
    position: relative;
    box-sizing: border-box;
margin-left: 0.5rem;
    border-radius: 10px;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
}

.filter-options:hover{
    border: 1px solid #a5abb6;
    background-color: #2f3742;
   
}

.filter-options-length{
    position: absolute;
    right: 1rem;
    background-color: #212830;
    width: 2rem;
    border-radius: 15px;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b7bdc8;
    font-size: 12px;
    font-weight: 700;
    box-sizing: border-box;
}

.filter-active{
    background-color: #2f3742;
}

.filter-blue-line{
    background-color: #409eff;
    border-radius: 10px;
    height: 60%;
  width: 5px;
}

.filter-invisible-line{
    background-color: #010409;
    border-radius: 10px;
    height: 60%;
  width: 5px;
}

.the-repo-filter{
    display: "flex";
     flex-direction: "row";
     align-items: "center"; 
     margin-bottom: "0.7rem";
}

.heading4{
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
}

.search-star{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 14px;
    top: 18px;
    cursor: pointer;
    background-color: #262c36;
}

.search-star:hover{
    background-color: #2a313c;
}



.the-search-starred{
    background-color: transparent;
}

.the-search-star-user{
    /* position: absolute; */
    /* right: 1rem; */
    background-color: #262c36;
    color: white;
    width: 3.5rem !important;
    border-radius: 5px;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b6bcc7;
    font-size: 12px;
    font-weight: 500;
    box-sizing: border-box;
}



.followed{
    width: 4.1rem !important;
}

.the-search-filter-repo{
    display: flex;
    flex-direction: column;
   padding-left: 2.2rem;
    background-color:  #010409;
    padding-right: 2rem;
    border:none;
    margin-top: 0rem;
    margin-bottom: 0;
    border-right: 1px solid  #b7bdc8;
    height: 110vh;
    overflow-y: hidden;
   width: 18rem;
  margin-right: 0.5rem;
  }

  .d-none{
    display: none;
    
  }

  
  .d-none-user{
    display: none;
 }

 @media(max-width: 768px){
    .the-srch-box{
        width: 80vw;
    }
    .the-search-filter-repo{
        display: none;
    }
    .heading4{
        display: none;
    }
    .d-none{
        display: flex;
     
    }
    
   
 }
 @media(max-width: 410px){
    .the-srch-box{
        height: 75px;
    }
    .the-user{
        margin-top: 0.2rem;
        height: 2.3rem;
        width: 2.3rem;
        background-color: #dcdcdc;
        color: #000000;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        margin-left: 0.4rem;
     }
 }

 .dVis-600{
    display: none;
 }
 @media(max-width: 480px){
    .dNone{
        display: none;
        position: absolute;
        left: -100%;
    }
    .search-star{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: row;
        position: absolute;
        right: 14px;
        top: 18px;
        width: 9% !important;
        cursor: pointer;
        background-color: #262c36;
    }
    .dNone-600{
        display: none ;
        /* width: 2px */
    }
    .dNonei-600{
        /* display: none ; */
        width: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dVis-600 {
        display: flex !important;
      position: relative !important;
      left: 1rem
    }
    .d-none-user{
        display: flex !important;
     }
    /* .dVis-600 {
        display: flex !important;
        position: relative !important;
        justify-content: flex-end !important;
        align-items: center !important;
        margin-left: 5rem;
    } */
 }

 /* @media(max-width: 500px){ */
    /* .dNone-600{
        display: none ;
        /* width: 2px */
    /* }  */
    /* .dNonei-600{
        /* display: none ; */
        /* width: 1px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    } */ 

    /* .dVis-600 {
        display: flex !important;
      position: relative !important;
      left: 1rem
    } */
 /* } */


 @media(max-width: 400px){
    .dNone-600{
        display: none ;
        /* width: 2px */
    }
    .dNonei-600{
        /* display: none ; */
        width: 1px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .dVis-600 {
        display: flex !important;
      position: relative !important;
      left: 1rem
    }
   
   

 }

 .repo-name-underline:hover{
    text-decoration: underline;
    cursor: pointer;
}

.repo-desc{
    font-weight: 300;
    color: white;
    margin: 0;
}

/* @media(max-width: 520px){
    .repo-name-underline{
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px !important;
        margin-left: -0.25rem;
    }
    
    .repo-desc{
        font-weight: 300;
        color: white;
        margin-left: -0.25rem;
        font-size: 12px;
        
    } 
    .the-star{
        font-size: small;
    }
    .search-star{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 14px;
        top: 18px;
        cursor: pointer;
        background-color: transparent;
        border: none
    }
    /* .repo-main-info{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: 0.7rem;
     font-size: 1px !important
        /* margin-left: 5rem; */
    /* } */ 
/* } */ 

@media(max-width: 350px){
    .repo-name-underline{
        text-decoration: underline;
        cursor: pointer;
        font-size: 12px !important;
        margin-left: -0.25rem;
    }
    
    .repo-desc{
        font-weight: 300;
        color: white;
        margin-left: -0.25rem;
        font-size: 10px;
        
    } 
    .the-star{
        font-size: small;
    }
    .search-star{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 14px;
        top: 18px;
        cursor: pointer;
        background-color: transparent;
        border: none
    }

    /* .repo-main-info{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: 0.7rem;
     font-size: 1px !important
        /* margin-left: 5rem; */
    /* } */ 
}

@media(max-width: 380px){
    .repo-name-underline{
    
        cursor: pointer;
        font-size: 13px !important;
        margin-left: -0.25rem;
    }
    .repo-name-underline:hover{
        text-decoration: none;
        cursor: pointer;
        font-size: 13px !important;
        margin-left: -0.25rem;
    }
    
    .repo-desc{
        font-weight: 300;
        color: white;
        margin-left: -0.25rem;
        font-size: 11px;
        
    } 
 
   
  

    /* .repo-main-info{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: 0.7rem;
     font-size: 1px !important
        /* margin-left: 5rem; */
    /* } */ 
}