.blog-container{
    margin: 1rem 5rem;
}

@media(max-width: 400px){
    .blog-container{
        font-size: small;
    }
}
@media(max-width: 460px){
    .blog-heading{
        font-size:larger;
    }
}
@media(max-width: 340px){
    .blog-container{
        font-size:x-small;
    }
}
