nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  border-bottom: 1px solid #b7bdc8; 
  padding-top: 0;
  margin: 0;
  height: 63px;
}

nav img {
  height: 100px;
  width: 100px;
margin-left: 3.1rem;
margin-top: -1.1rem;

}

.toggle{
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 0.9rem;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 7px;
  border: 0.1px solid #b7bdc8;
}
.toggle:hover{
  background-color: #2f3742;
}

.fa-solid{
  color: #b7bdc8;
}

.repo-link {
  text-decoration: none !important;
  padding: 0.3rem;
  border-radius: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin-left: 0.5rem;
  /* margin-right: -2.8rem; */

}

@media(max-width: 510px){

  .repo-link{
    display: none;
  }

  .repo-link:hover{
    background-color: transparent !important;
  }
}

.repo-link:hover {
  background-color: #2f3742;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer; /* Show pointer cursor on hover */
}
.dash-name{
  margin-left: -2.3rem;
  margin-top: 1.2rem;
  text-decoration: none;
}
.dash-name1{
  margin-right: -5.3rem;
  margin-left: 4rem;
  text-decoration: none;
}
.tooltip .tooltip-text {
  visibility: hidden;
  min-width: 120x; /* Width of tooltip */
  background-color:rgb(255, 255, 239); /* Dark background */
  color: black; /* White text */
  min-height: 15px;
font-size: small;
font-weight: 400;
  text-align: center; /* Center text */
  border-radius: 5px; /* Rounded corners */
 margin:0;
 padding:0.1rem;
  position: absolute; /* Position it */
  z-index: 5; /* Make sure it appears above other content */
  top: 125%; /* Position below the text */
  right: 0%;
  margin-left: 0; /* Adjust left margin */
  opacity: 0; /* Hidden by default */
  transition: opacity 0s; /* Fade effect */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-wrap: nowrap;
}

.tooltip:hover .tooltip-text {
  visibility: visible; /* Show tooltip */
  opacity: 1; /* Fade in effect */
}



.btn{
  background-color: #dcdcdc;
  color: black;
  margin-right: 0.9rem;
  margin-top: 0.8rem;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  display: flex;
 justify-content: center;
 align-items: center;
 border: 2px solid white;
 text-decoration: none !important;
 margin-left: 0.6rem;
}


nav div {
  display: flex;
}

nav h4 {
  margin-left: 1rem;
  color: white;
  font-weight: 550;
  margin-top: 1.3rem;
}

nav p {
  margin-left: 50px;
  font-weight: bold;
  color: white;
}

nav h3:hover,
nav p:hover {
  text-decoration: underline;
}
.nav-search-box{
margin-right: 0;
}


.nav-search-box-btn{
 
 
  padding: 10px 15px; /* Padding for the button */

  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.1s; /* Smooth transition for hover effect */
  transition: border-color 0.3s ease;
  outline: none;
}






.nav-search-box-btn{
  background-color: transparent;
  color: #b7bdc8;
  /* padding: 3px; */
  height: 2rem;
  margin-top: 1.1rem;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 0.9rem;
border: 1px solid #b7bdc8;
}

.nav-search-box-btn:hover{
  border-color: #b7bdc8;
 }

 

 
  .nav-search-box-btn:focus{
    outline: none;
    border: 1px solid #b7bdc8;
  }

  
  .nav-search-box-inp{
    background-color: #010409;
  color: white;
    /* padding: 3px; */
    height: 90%;
   margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:100;
    font-size: 0.9rem;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  }
  .nav-search-box-inp-div{
    position: absolute;
    background-color: #010409;
  color: white;
    padding: 0;
    height: 2.2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: 400; */
    /* font-size: 0.9rem; */
  width: 62vw;
  border-radius: 7px;
  border: 2px solid #409eff;
   /* Shadow to give the appearance of being above and casting a shadow */
   box-shadow: 6px 14px 10px rgba(0, 0, 0, 0.6); /* Right & bottom shadow */
  }
  .nav-search-box-inp-div:focus{
    outline: none;
    border: 2px solid #409eff;
  }
  .nav-search-box-inp:focus{
    outline: none;
    border: none;
  }

  .nav-search-box-form{
    position: fixed;
    top: 0;
    left: 20%;
    margin-top: -0.2rem;
    z-index: 200;
  }

  .fullpage-box{
display: flex;
flex-direction: column;
position: fixed;
top: 0;
/* background-color: transparent; */
min-height: 110vh;
width:100%;
left: 0;
z-index: 100;
background-color: rgba(128, 128, 128, 0.5);
overflow: hidden;
  }

  .search-glass{
    /* font-weight: 500; */
    color: #b7bdc8;
  }

  .cross-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    border-radius: 50%;
background-color: #d1d7e0;
margin-right: 10px;
cursor: pointer;
  }
  .fa-times{
    font-size: x-small;
    color: #010409;
    padding-left: 1px;
    padding-top: 2px;
    /* background-color: yellow; */

   
  }

  .theSidebar{
    position: fixed;
    top: 0;
    left: -22%;
    margin-top: -0.2rem;
    z-index: 500;
   background-color:  #010409;
    height: 100%;
    width: 20%;
    border-top-right-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    border-right: 1px solid #b7bdc8;
    transition: left 0.4s ease-in-out; /* Smooth transition */
  }
 
/* Apply animation when the sidebar is active */
.theSidebar.active {
  animation: slideIn 0.2s ease-in-out forwards;
}

@keyframes slideIn {
  from {
      left: -20%;  /* Start position (hidden) */
  }
  to {
      left: 0;  /* End position (fully visible) */
  }
}

.theSidebar ul {
  list-style-type: none;
  padding: 0; /* Optional: removes extra space around the list */
  margin: 0;  /* Optional: removes default margin */
}

.theSidebar{
  padding: 2px;
}

.theSidebar ul li {
  margin-bottom: 10px; /* Adjust the value to control the gap */
  width: 80%;
  margin-left: 11px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-size: 14px;
}

.theSidebar ul li:hover {
  background-color: #2f3742;
  border-radius: 5px;
  border: 1px solid #b7bdc8;
  cursor: pointer;
}

.sidebar-content{
  margin-top: 2rem;
}

.logo-sidebar{
  display: flex;
  height: 100px;
  width: 100px;
  margin-left: -1.5rem;
  margin-top: 0.5rem;
}

.sidebar-header{
  margin-top: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-sidebar{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: transparent;
  color: #9399a4;
  font-size: 10px;
  align-items: center;
  font-weight: 500;
  height: 2rem;
  width: 2rem;
  padding-top: 3px;
  margin-right: 12px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;

}

.close-sidebar:hover{
  background-color: #2a313c;
  cursor: pointer;
  color: white
}

.close-sidebar:hover i{
  color: white;
}

@media(max-width: 768px){
.cross-btn{
 
background-color: transparent;

}
.cross-btn i{
 color: white;
}}

@media(max-width: 700px){

.invisible-search-btn-text{
  display: none;
}
.theSidebar{
  width: 54%;
}

}

@media(max-width: 350px){
  .profile-link{
  display: none;
  }
   .nav-search-box-btn{
display: none;
} 
  }

  @media(hover: none){

    .btn-tooltip{
      display: none;
    }
    
.theSidebar ul li:hover {
  margin-bottom: 10px; /* Adjust the value to control the gap */
  width: 80%;
  margin-left: 11px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
  }


  
