nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  border-bottom: 1px solid #b7bdc8; 
  padding-top: 0;
  margin: 0;
  height: 63px;
}

nav img {
  height: 40px;
  width: 40px;
padding-left: 3.9rem;
padding-top: 0.8rem;

}

.toggle{
  position: absolute;
  top: 1rem;
  left: 0.9rem;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 7px;
  border: 0.1px solid #b7bdc8;
}

.fa-solid{
  color: #b7bdc8;
}

.repo-link {
  text-decoration: none !important;
  padding: 0.3rem;
  border-radius: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin-left: 0.5rem;
  /* margin-right: -2.8rem; */

}

@media(max-width: 427px){

  .repo-link{
    display: none;
  }

  .repo-link:hover{
    background-color: transparent !important;
  }

  .dash{
    font-size: small !important;
    /* display: none; */
  }

  .profile-link{
 display: none !important;
  }
  nav img {
    height: 30px;
    width: 30px;
  /* padding-left: 3.9rem;
  padding-top: 0.8rem; */
  margin-top: 0.3rem;
  
  }

.tooltip-text{
 display: none !important;
}

.tooltip{
  height: 29px !important;
  width: 29px !important;
  margin-top: 1rem !important;
}

}

.repo-link:hover {
  background-color: #2f3742;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer; /* Show pointer cursor on hover */
}

.tooltip .tooltip-text {
  visibility: hidden;
  min-width: 120x; /* Width of tooltip */
  background-color:rgb(255, 255, 239); /* Dark background */
  color: black; /* White text */
  min-height: 15px;
font-size: small;
font-weight: 400;
  text-align: center; /* Center text */
  border-radius: 5px; /* Rounded corners */
 margin:0;
 padding:0.1rem;
  position: absolute; /* Position it */
  z-index: 5; /* Make sure it appears above other content */
  top: 125%; /* Position below the text */
  right: 0%;
  margin-left: 0; /* Adjust left margin */
  opacity: 0; /* Hidden by default */
  transition: opacity 0s; /* Fade effect */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-wrap: nowrap;
}

.tooltip:hover .tooltip-text {
  visibility: visible; /* Show tooltip */
  opacity: 1; /* Fade in effect */
}



.btn{
  background-color: #dcdcdc;
  color: black;
  margin-right: 0.9rem;
  margin-top: 0.8rem;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  display: flex;
 justify-content: center;
 align-items: center;
 border: 2px solid white;
 text-decoration: none !important;
 margin-left: 0.6rem;
}


nav div {
  display: flex;
}

nav h4 {
  margin-left: 1rem;
  color: white;
  font-weight: 550;
  margin-top: 1.3rem;
}

nav p {
  margin-left: 50px;
  font-weight: bold;
  color: white;
}

nav h3:hover,
nav p:hover {
  text-decoration: underline;
}
.nav-search-box{
margin-right: 0;
}


.nav-search-box-btn{
 
 
  padding: 10px 15px; /* Padding for the button */

  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.1s; /* Smooth transition for hover effect */
  transition: border-color 0.3s ease;
  outline: none;
}






.nav-search-box-btn{
  background-color: transparent;
  color: #b7bdc8;
  /* padding: 3px; */
  height: 2rem;
  margin-top: 1.1rem;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 0.9rem;
border: 1px solid #b7bdc8;
}

.nav-search-box-btn:hover{
  border-color: #b7bdc8;
 }

 

 
  .nav-search-box-btn:focus{
    outline: none;
    border: 1px solid #b7bdc8;
  }

  
  .nav-search-box-inp{
    background-color: #010409;
  color: white;
    /* padding: 3px; */
    height: 90%;
   margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:100;
    font-size: 0.9rem;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  }
  .nav-search-box-inp-div{
    background-color: #010409;
  color: white;
    padding: 0;
    height: 2.2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: 400; */
    /* font-size: 0.9rem; */
  width: 60rem;
  border-radius: 7px;
  border: 2px solid #409eff;
   /* Shadow to give the appearance of being above and casting a shadow */
   box-shadow: 6px 14px 10px rgba(0, 0, 0, 0.6); /* Right & bottom shadow */
  }
  .nav-search-box-inp-div:focus{
    outline: none;
    border: 2px solid #409eff;
  }
  .nav-search-box-inp:focus{
    outline: none;
    border: none;
  }

  .nav-search-box-form{
    position: fixed;
    top: 0;
    left: 20%;
    margin-top: -0.2rem;
    z-index: 200;
  }

  .fullpage-box{
display: flex;
flex-direction: column;
position: fixed;
top: 0;
/* background-color: transparent; */
min-height: 110vh;
width:100%;
left: 0;
z-index: 100;
background-color: rgba(128, 128, 128, 0.5);
overflow: hidden;
  }

  .search-glass{
    /* font-weight: 500; */
    color: #b7bdc8;
  }

  .cross-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    border-radius: 50%;
background-color: #d1d7e0;
margin-right: 10px;
cursor: pointer;
  }
  .fa-times{
    font-size: x-small;
    color: #010409;
    padding-left: 1px;
    padding-top: 2px;
    /* background-color: yellow; */

   
  }
 
