#dashboard {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
  }

  .slot-instructions {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    border: 1px solid #b7bdc8;
    background-color: #010409;
    border-radius: 5px;
    margin-bottom: 0.5rem !important;
    padding: 5px !important;
    height: 85vh;
    overflow-y: scroll;
 margin-top: 1rem;
 width: 50vw;
 margin-right: none;
 margin-left: none;
  }
  
  .pre-box{
  position: relative;
    width: 270px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
    padding: 5px;
    background-color: #151b23;
  }

  /* Width of the scrollbar */
.slot-instructions::-webkit-scrollbar {
 
  width: 5px; /* Width of the vertical scrollbar */
}

/* Track (background) of the scrollbar */
.slot-instructions::-webkit-scrollbar-track {
  margin-top: 1.8rem;
  margin-bottom: 0.4rem;
  background:  transparent; /* Light gray background for the scrollbar track */
  border-radius: 10px; 

}

/* Handle (the draggable part of the scrollbar) */
.slot-instructions::-webkit-scrollbar-thumb {
   background: rgba(128, 128, 128, 0.7);
  /* background-color: red; */
  /* border-radius: 10px; Rounded corners for the handle */
  /* overflow: hidden; */
}

/* Handle on hover */
.slot-instructions::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color when hovering over the scrollbar handle */
}

.search-repo{
  display: flex;
  flex-direction: column;
 padding-left: 2.2rem;
  background-color:  #010409;
  padding-right: 2rem;
  border:none;
  margin-top: 0rem;
  margin-bottom: 0;
  border-right: 1px solid  #b7bdc8;
  height: 110vh;
  overflow-y: hidden;
 width: 18rem;
margin-right: 0.5rem;
}

.your-repo{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 0.4rem; 
  border:none;
  margin-top: 0.5rem;
  margin-bottom:0;
  overflow-y: visible;
margin-right: 0.5rem;
}

.underline:hover{
  text-decoration: underline;
}

.your-repo-name{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500 !important;
  font-size: 14px;
  color: white;
}
.your-repo-name:hover{
  color: white;
}

.search{
  width: 16rem;
  padding: 5px;
  background-color: #151b23;
  color: white;
  border: 1.1px solid  #b7bdc8;
  border-radius: 4px;
  font-weight: 500 !important;
  font-size: 14px;
  outline: none;
  transition: border 0.2s ease, background-color 0.1s ease;
}

.search:focus{
  border: 1.1px solid #409eff;
  background-color: #010409;
}



.right-box{
  display: flex;
  flex-direction: column;
align-items: center;
 padding-right: 2.2rem;
  background-color:  #010409;
  /* background-color: yellow; */
  padding-left: 1.5rem;
  border:none;
  margin-top: 0rem;
  margin-bottom: 0;
  /* border-left: 1px solid  #b7bdc8; */
  height: 110vh;
  overflow-x: hidden;
  max-width: 18rem;
margin-right: 0rem;
flex-shrink: 1;
z-index: 100;;
/* margin-right: 10rem; */
/* padding-right: 10rem; */
}

@media(max-width:1300px){
  .right-box{
    display: none;
  }
  .slot-instructions{
    width: 96.2%;
  }
}

@media(max-width: 992px){
.search{
  width: 12rem !important;
}
}

@media(max-width: 862px){
  .search{
    width: 10rem !important;
  }
}

@media(max-width: 768px){
  #dashboard{
flex-direction: column;
align-items: center;
  }

  .search-repo{
    position: relative;
    background-color:  #010409;
    margin-top: 0.7rem;
    border-radius: 5px;
    border: 1.1px solid  #b7bdc8;
    padding: 1rem;
    overflow-y: scroll;
    height: 50vh;
    width: 89vw;
    margin-right: 0.3rem !important;
    margin-left: 0.3rem !important;
  
  }

  .slot-instructions{
    width: 92vw;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    height: 100%;
    overflow-y: visible;
    text-wrap: wrap;
  }

  .search{
    width: 30rem !important;
  }
}

@media(max-width:600px){

  #dashboard{
    align-items: center;
  }
  .search-repo{
  width: 85vw;
  }
  .search{
width: auto !important;
  }
}

@media(max-width: 468px) {
  .side-copy{
    display: none;
  }
  .slot-instructions{
    font-size: smaller;
    width: 80vw;
  }

  .search-repo{
    width: 75vw;
  }

  .pre-box{
    padding: 0.2rem;
    width: auto;
  }
  
}

.event-box{
  background-color:  #010409;
  margin-top: 1.3rem;
  border-radius: 5px;
  border: 1.1px solid  #b7bdc8;
  padding: 1rem;
  width: 100%;
}

.event-box-list{
  color: white;
}

.event-list-item{
 color: white !important;
font-weight: 400;
}

.event-list-item:hover{
text-decoration: underline;
color: #74b8fe !important;
}



.search-repo::-webkit-scrollbar {

  width: 4px; /* Width of the vertical scrollbar */
}

/* Track (background) of the scrollbar */
.search-repo::-webkit-scrollbar-track {
  background:  transparent; /* Light gray background for the scrollbar track */

  margin-top: 1.8rem;
  margin-bottom: 0.4rem;
  background:  transparent; /* Light gray background for the scrollbar track */
  border-radius: 10px; 
}

/* Handle (the draggable part of the scrollbar) */
.search-repo::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5)   
  /* border-radius: 10px; Rounded corners for the handle */
}

/* Handle on hover */
.search-repo::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color when hovering over the scrollbar handle */
}

.the-suggested-repo{
  width: 100%;
  background-color: #010409;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b7bdc8;
  /* border-radius: 0.5rem; */
  margin-bottom: 0.9rem;

}

.the-suggested-repo-user{
  height: 1.5rem;
  width: 1.5rem;
  background-color: #dcdcdc;
  color: #000000;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-left: 0.8rem;
}

.suggested-repo-name{
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.suggested-repo-name:hover{
  text-decoration: underline;
  cursor: pointer;
}

.suggested-repo-desc{
  font-weight: 400;
  color: #b7bdc8;
  font-size: small;
  margin: 0;
}

@media (hover: none) {
  .your-repo-name:hover {
    color: white !important;
  }

  .event-list-item:hover {
    color: white !important;
    text-decoration: none !important;
  }

  .suggested-repo-name:hover {
    color: white !important;
    text-decoration: none !important;
  }

  .underline:hover {
    text-decoration: none !important;
  }
}

.side-copy{
  position: absolute;
  right: 1rem;
}



