.login-wrapper {
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
    color: #f1f6fd;
    height: 100%;
    /* width: 100vw; */
    font-family: "Asap", sans-serif;
    background-color: #0c1116;
    margin-left: 0;
  }
  
  .login-logo-container {
    padding: 40px 0px 20px;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-login {
    width: 48px;
  }
  
  .login-box-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .login-box {
    padding: 20px 0px;
    width: 364px;
    min-height: 300px;
    border-radius: 10px;
    background-color: #161a23;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

 
  
  .input {
    width: 250px;
    height: 35px;
    background-color: #0c1116;
    border-radius: 5px;
    padding: 0 1rem;
    border: 0.5px solid #f1f6fd;
    font-size: 1rem;
    color: whitesmoke;
    transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
      color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
      background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  }
  input[type="email"]:-webkit-autofill{
    background-color: white !important;    /* Force background color */
    -webkit-box-shadow: 0 0 0px 1000px #1d2637 inset !important; /* Workaround for autofill background */
    -webkit-text-fill-color: #fff !important; /* Ensure text color remains white */
}
input[type="password"]:-webkit-autofill{
    background-color: white !important;    /* Force background color */
    -webkit-box-shadow: 0 0 0px 1000px #1d2637 inset !important; /* Workaround for autofill background */
    -webkit-text-fill-color: #fff !important; /* Ensure text color remains white */
}

  .input:focus{
    
      background-color: #010409;
  
  }
  
  .label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #f1f6fd;
    transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  }
  
  .input:hover,
  .input:focus {
    border-color: lightblue;
  }
  
  .submit-btn {
    background-color: #238636;
    border: none;
    width: 250px;
    border-radius: 5px;
    height: 35px;
    color: #f1f6fd;
    font-weight: 700;
    padding: 0 1rem;
  }
  
  .submit-btn:hover {
    background-color: #499458;
    cursor: pointer;
  }
  
  .passkey-signin {
    border: 0.5px solid #e6e9ed;
    width: 360px;
    border-radius: 10px;
    height: 90px;
    margin: 10px auto;
  }
  
  .passkey-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
  
  .passkey,
  .signup {
    color: #2b7df7;
    cursor: pointer;
    /* font-size: px; */
  }
  
  .login-btn {
    width: 250px;
  }
  
  .pass-box {
    width: 364px;
    height: auto;
    border-radius: 10px;
    padding: 20px 10px;
    border: 1px solid #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .signup-button {
    width: 250px;
  }
  
  @media screen and (max-width: 400px) {
    .login-box {
      width: 200px;
    }
  
    .input {
      width: 150px;
    }
  
    .login-btn {
      width: 150px;
    }
  
    .pass-box {
      width: 200px;
    }
  }

  .the-auth-btn-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
   left: 0;
   /* background-color: yellow; */

   }

   .the-auth-btn {
    background-color: #006222; /* GitHub green color */
    color: white; /* Text color */
    padding: 10px 15px ; 
    border: 2px solid #2fad4e ; 
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.1s; /* Smooth transition for hover effect */
    transition: border-color 0.3s ease;
    outline: none;
margin-left: 0.3rem !important;
}

.the-auth-link:hover{
  text-decoration: underline;
}